.about-container {
  max-width: 100%;
  padding: 40px 60px;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: Rethink Sans;
  position: relative;
  /* Required for positioning pseudo-elements */
  /* Ensure the pseudo-elements don't overflow */
}

/* Semi-circle on the left side */
.about-container::before {
  content: '';
  position: absolute;
  left: -50px;
  /* Adjust to position the semi-circle */
  top: 80%;
  /* Center vertically */
  transform: translateY(-50%);
  /* width: 100px; */
  /* Diameter of the semi-circle */
  /* height: 60px;
  background-color: #04486F14;
  border-radius: 0 100px 100px 0;
  opacity: 0.53;
  backdrop-filter: blur(27px); */
    width: 100px;
      height: 60px;
  border-radius: 0 100px 100px 0;      
  background: radial-gradient(circle, rgba(4, 72, 111, 0.08) 0%, rgba(4, 72, 111, 0.08) 120%, transparent 100%);
      opacity: '8%';
      filter: blur(10px);
}

/* Circle on the right side */
.about-container::after {
  content: '';
  position: absolute;
  right: -30px;
  /* Adjust to position the circle */
  top: 18%;
  /* Center vertically */
  transform: translateY(-50%) rotate(180deg);
  width: 100px;
  /* Diameter of the circle */
  height: 100px;
  /* Height of the circle */
  /* Color with transparency */
  border-radius: 0 100px 100px 0;  /* Create a circle */
  background: radial-gradient(circle, rgba(4, 29, 111, 0.08) 0%, rgba(4, 29, 111, 0.08) 120%, transparent 100%);
    opacity: '8%';
    filter: blur(10px);
}

.about-title {
  font-size: 2.5rem;
  background: linear-gradient(90deg, #00525E, #076573, #0F7989);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  padding-right: 10%;
  white-space: nowrap;
}

.about-text {
  font-size: 1rem;
  line-height: 1.8;
  color: #333;
  text-align: justify;
  hyphens: auto;
  flex: 1;
  padding-right: 5%;
}

.first-letter {
  font-size: 7rem;
  font-weight: '600';
  color: #00525E;
  float: left;
  margin-right: 8px;
  line-height: 1;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-title {
    font-size: 2rem;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-text {
    margin-left: 0;
    text-align: justify;
    hyphens: auto;
  }

  .first-letter {
    font-size: 2.5rem;
    line-height: 1.4;
  }
}

@media (max-width: 480px) {
  .about-container {
    padding: 20px;
  }

  .about-title {
    font-size: 1.8rem;
    text-align: center;
  }

  .about-text {
    text-align: justify;
    hyphens: auto;
  }

  .first-letter {
    font-size: 2rem;
  }
}