.about-container {
  max-width: 100%;
  /* margin: 5% auto; */
  padding: 40px 60px;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: Rethink Sans;
  /* Align items to the top */
}

.about-title {
  font-size: 2.5rem;
  background: linear-gradient(90deg, #00525E, #076573, #0F7989);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  padding-right: 10%;
  /* Add margin to the right of the title */
  white-space: nowrap;
  /* Prevent the title from wrapping */
}

.about-text {
  font-size: 1rem;
  line-height: 1.8;
  color: #333;
  text-align: justify;
  hyphens: auto;
  
  flex: 1;
  /* Allow the text to take up the remaining space */
  padding-right: 5%;
}

.first-letter {
  font-size: 7rem;
  font-weight: '600';
  color: #00525E;
  float: left;
  margin-right: 8px;
  line-height: 1;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    /* Stack items vertically on smaller screens */
    align-items: center;
    /* Center items horizontally */
  }

  .about-title {
    font-size: 2rem;
    margin-right: 0;
    /* Remove margin on smaller screens */
    margin-bottom: 20px;
    /* Add margin below the title */
  }

  .about-text {
    margin-left: 0;
    /* Remove margin on smaller screens */
    text-align: justify;
    hyphens: auto;
  }

  .first-letter {
    font-size: 2.5rem;
    line-height: 1.4;
  }
}

@media (max-width: 480px) {
  .about-container {
    padding: 20px;
  }

  .about-title {
    font-size: 1.8rem;
    text-align: center;
  }

  .about-text {
    text-align: justify;
    hyphens: auto;
  }

  .first-letter {
    font-size: 2rem;
  }
}